- @page_title = "Sign up - Account Plan"
%p Now you need to choose a plan. Complete the details below and hit "Next".
%p
= form_for @org_sub, url: '/signup/save_account' do |f|
  = f.hidden_field :organization_id
  = f.hidden_field :subscription_type_id
  = render '/signups/account_plans'
  %div.actions
    = f.submit 'Next', class: 'right button'