- @page_title = "Contact Us"
%p Fill out the information below and we'll get back to you shortly!
= form_for @contact_form, url: send_email_path do |f|
  %div.field
    = f.label :name
    %br
    = f.text_field :name
  %div.field
    = f.label :email
    %br
    = f.text_field :email
  %div.field
    = f.label :body
    %br
    = f.text_area :body, style: 'height:150px;'
  %div.actions
    = f.submit 'Send Info', class: 'right button'