.container.top-bar.home-border
  .attached
    .name.left
      %span.logo
        = link_to 'LightPost Events', root_path
    %ul.right.nav-bar
      %li
        = link_to 'home', root_path
      %li
        = link_to 'about', about_path
      %li
        = link_to 'contact', contact_path
      - if session[:user].nil?
        %li.has-flyout
          %a{href: 'javscript:void(0)'}
            Sign in
          .flyout.large.right
            = render partial: 'layouts/signin'
      - else
        %li.has-flyout
          %a{href: 'javscript:void(0)'}
            = @current_user.organization.title
          %ul.flyout.small.right
            = render partial: 'layouts/account'
